body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background-image: url("center.svg") ;
    background-size: cover; 
    background-position: center; 
    font-weight: bold;
}
h1 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 32px;
    text-align: center;
   
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 40px;
}

th{
    font-size: 30px;
    color: #fff;
}

th.goud{
    color: gold;    
}
th.zilver{
    color:silver;
}
th.brons{
    color: brown;
}

td{
    font-size: 20px;
    color: #fff
}
.ringen{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
    height: auto;
}

