body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: lightslategrey;
    font-size: 1.5em;
    text-align: center;
}

.container{
    display: flex;                  /*Elementen in de container worden flex-items, default row*/
    justify-content: space-between; /*Er wordt ruimte gemaakt tussen de flex-items*/
    align-items: flex-start; 
    box-sizing: border-box;
    padding: 20px;    
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 20px;
    background-color: aliceblue;
}

img{
    width: 50%;
    height: 100%;
    ;
}

h1{
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
}

h2{
    font-size: 2em;
    text-decoration: underline;
    text-align: left;
}


input, select{
    border-radius: 1em;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 0.5em;
}

a{
    color: lightsteelblue;
}

a:hover{
    color: blue;
}

button, #submitbutton{
    border-radius: 1em;
    background-color:aliceblue;
    color: lightslategray;
    cursor: pointer;
}

button:hover{
    background-color: lightpink;

}

#submitbutton:hover{
    background-color: lightseagreen;
}